input[type=text], input[type=password], input[type=number], input[type=datetime-local] {
    width: 15%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #A0A0A0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 7%;
    position: center;
}
.font {
    font-size: 200%;
}
